table{
    border-collapse: collapse;
}
/* tr:nth-child(even){
    background: rgb(240, 240, 240);
} */
td{

    padding: .5rem;
}
tr{
    border-top: 1px solid #333;
}
td>span{
    line-height: 2rem;
}
tr:hover{
    background-color: rgb(255, 255, 255);
}

button.tableView_key{
    background-color: rgb(230, 248, 225);
    border: none;
    border-radius: 4px;
    padding: .3rem;
}
button.tableView_key:hover{
    background-color: rgb(198, 235, 188);
}